# Data
*.csv
!random_df.csv
*.html
*.json
*.txt
*.xml
*.RData

# R session dotfiles
*.Rhistory
.Rproj.user

# knitr and R markdown default cache directories
/*_cache/
/cache/

# packrat related
packrat/lib*/
packrat/src*/

# leftovers
*~
